<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DaliCMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/Icon.ico" />
</head>
<body background="~/Content/images/background.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DaliCMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (Session["UserId"] != null)
                    {
                        <li>@Html.ActionLink("Alumnos", "Index", "Students")</li>
                        <li>@Html.ActionLink("Adultos Responsables", "Index", "ResponsibleAdults")</li>
                        <li>@Html.ActionLink("Pagos", "Index", "Payments")</li>
                        <li>@Html.ActionLink("Niveles", "Index", "Levels")</li>
                        <li>@Html.ActionLink("Escuelas", "Index", "Schools")</li>
                        <li>@Html.ActionLink("Alumnos/Adultos Responsables", "Index", "StudentRespAdultRels")</li>
                    }
                </ul>
                @if (Session["UserId"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(Session["Username"].ToString(), "", "")</li>
                        <li>@Html.ActionLink("Cerrar sesión", "Logout", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Registrarse", "Register", "Account")</li>
                        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Darío De Giacomo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
