@model X.PagedList.IPagedList<DaliCMS.Models.StudentRespAdultRel>
@using X.PagedList.Mvc;

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login/");
    }
}

<h1_special class="text-center"><b>Alumnos/Adultos responsables</b></h1_special>
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Agregar nueva relación", "Create", null, new { @class = "btn btn-main-dali" })
        </th>
        <th>
            <div class="input-group col-sm-7 col-lg-offset-11 pull-right">
                @using (Html.BeginForm("Index", "StudentRespAdultRels", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input", @placeholder = "Nombre del adulto o del alumno..." })
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                }
            </div>
        </th>
    </tr>
</table>
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre del Adulto responsable", "Index", new { sortOrder = ViewBag.RsAdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nombre del alumno", "Index", new { sortOrder = ViewBag.StdtSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ResponsibleAdultModel.Name, "Details", "ResponsibleAdults", new { Id = item.ResponsibleAdultModel.Id }, null)
        </td>
        <td>
            @Html.ActionLink(item.StudentModel.Name, "Details", "Students", new { Id = item.StudentModel.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "btn btn-success btn-sm" }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>


@if (Model.PageCount > 1)
{
    <div class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))</div>
}