@model DaliCMS.Models.ResponsibleAdult

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login/");
    }
}

<h1_special class="text-center"><b>Eliminar adulto responsable</b></h1_special>
<h3>Está seguro de querer eliminar esta entrada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Empleo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default btn-sm btn-danger" /> 
            @Html.ActionLink("Volver a la lista de adultos responsables", "Index", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
