@model DaliCMS.Models.Payment

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login/");
    }
}

<div id="myOverlay"></div>
<h1_special class="text-center"><b>Agregar pago</b></h1_special>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Alumno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", null, htmlAttributes: new { @id = "studentSelected", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Deuda a la fecha", htmlAttributes: new { @class = "text-right col-md-2" })
            <div class="col-md-10">
                @Html.Label(" ", htmlAttributes: new { @id = "studentDebt", @class = "badge" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hermanos/as", htmlAttributes: new { @class = "text-right col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Hermanos/as", htmlAttributes: new { @id = "siblings", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Monto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de pago", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control datecontrol" } })
                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mes/año pagado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MonthYearPaid, new { htmlAttributes = new { @class = "form-control", @id = "myDatepicker" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitPayment" value="Agregar pago" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista de pagos", "Index", null, new { @class = "btn btn-primary" })
    <div id="loadingGIF" style="display: none;"><img src="/Content/images/ajax-loader.gif" /></div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#myDatepicker').datepicker({
                format: "mm/yyyy",
                startView: "year",
                minViewMode: "months",
                language: "es",
            })
        });
        $(function () {
            $('#submitPayment').click(function () {
                document.getElementById("myDatepicker").value = $('#myDatepicker').val().toString().replace(/\//i, "\/01\/");
                return true;
            });
        });
        $(document).ready(function () {
            var StudentSelected = $('#studentSelected').val();
            if (StudentSelected !== "") {
                $.ajax({
                    url: '@Url.Action("GetStudentDebt", "Payments")',
                    type: 'POST',
                    data: {
                        StudentId: StudentSelected,
                    },
                    success: function (result1) {
                        $('#studentDebt').text("$" + result1.studentDebt);
                    }
                });
                $.ajax({
                    url: '@Url.Action("GetStudentSiblings", "Payments")',
                    type: 'POST',
                    data: {
                        StudentId: StudentSelected,
                    },
                    success: function (result2) {
                        $('#siblings').prop('checked', result2.studentSiblings);
                    }
                });
            }
        });
        $(function () {
            $("#studentSelected").change(function () {
                $('#myOverlay').css({ "position": "fixed", "left": "0", "height": "100%", "width": "100%", "background": "black", "opacity": ".15", "z-index": "2" }).fadeIn(500);
                $('#loadingGIF').css({ "position": "fixed", "top": "33%", "left": "50%", "z-index": "3" }).fadeIn(500);
                var StudentSelected = $(this).val();
                if (StudentSelected !== "") {
                    $.ajax({
                        url: '@Url.Action("GetStudentDebt", "Payments")',
                        type: 'POST',
                        data: {
                            StudentId: StudentSelected,
                        },
                        success: function (result1) {
                            $('#studentDebt').text("$" + result1.studentDebt);
                        }
                    });
                    $.ajax({
                        url: '@Url.Action("GetStudentSiblings", "Payments")',
                        type: 'POST',
                        data: {
                            StudentId: StudentSelected,
                        },
                        success: function (result2) {
                            $('#siblings').prop('checked', result2.studentSiblings);
                            $('#myOverlay').fadeOut(350);
                            $('#loadingGIF').fadeOut(350);
                        }
                    });
                }
            });
        });
    </script>
}